---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        上一页
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        下一页
      </a>
    </span>
  {% endif %}
</div>

<ul class="archive">

  {% for post in paginator.posts %}
    <li>
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
      {% endif %}
        {{ post.title }}
      </a>
      <time>{{ post.date | date: "%Y-%m-%d" }}</time>
      {% for tag in post.tags %}
      <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}" class="tag">
        {{ tag }}
      </a>
      {% if post.from %}
      <a href="{{ post.from }}" class="tag">原文</a>
      {% endif %}
      {% endfor %}
    </li>
  {% endfor %}

</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        上一页
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        下一页
      </a>
    </span>
  {% endif %}

  <script>
  /* post pagination keyboard shortcuts */
  document.body.onkeyup = function(e){
    if (e.keyCode == '37') { window.location = '{{ site.baseurl }}{{ paginator.previous_page_path }}'; } // left arrow key
    if (e.keyCode == '39') { window.location = '{{ site.baseurl}}{{ paginator.next_page_path }}'; } // right arrow key
  };
  </script>

</div>
