<!-- Left & centered positioning -->
<div class="ssk-sticky ssk-right ssk-center ssk-sticky-hide-xs ssk-group ssk-round">
    <a href="https://chinatimeline.github.io/form/?u={{ page.from | url_encode }}&t={{ page.title | url_encode }}&d={{ page.date | slice: 0, 10 }}&e={{ page.content | strip_html }}" target="_blank" class="ssk ssk-github"  title="Github 时代透镜"></a>
    <a href="https://www.facebook.com/sharer.php?u={{page.from}}" class="ssk ssk-facebook"></a>
    <a href="https://twitter.com/intent/tweet?url={{page.from}}&text={{ page.title }}&hashtags={{ page.author }}" class="ssk ssk-twitter"></a>
    <a href="https://reddit.com/submit?url={{page.from}}&title={{ page.title }}" class="ssk ssk-reddit"></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{page.from}}&title={{page.title}}" class="ssk ssk-linkedin"></a>
    <a href="mailto:{email_address}?subject={{ page.title }}&body={{ page.excerpt }}" class="ssk ssk-email"></a>
    <a href="http://pinterest.com/pin/create/link/?url={{page.from}}" class="ssk ssk-pinterest"></a>
    <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{page.from}}&title={{ page.title }}&caption={{ page.excerpt }}&tags={{ page.author }}" class="ssk ssk-tumblr"></a>
    <a href="https://buffer.com/add?text={{ page.title }}&url={{page.from}}" class="ssk ssk-buffer"></a>
</div>
