---
layout: default
---

{% include social-share.html %}

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
        <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
          前一篇
        </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
        <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
          后一篇
        </a>
    </span>
  {% endif %}
</div>

<article class="post">
  <h1>{{ page.title }}</h1>
  <!-- Look the author details up from the site config. -->
  {% assign author = site.data.authors[page.author] %}

  <div style="width:100%;">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <!-- Output author details if some exist. -->
    {% if author %}
        <span>
            <!-- Personal Info. -->
            作者: <a href="{{ author.web }}">{{ author.name }}</a>
        </span>
    {% endif %}

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% if page.from %}
        <span>
            <!-- Personal Info. -->
            <a href="{{ page.from }}"  style="font-size: $small-font-size;">原文</a>
        </span>
    {% endif %}

    {% if page.hackmd %}
        <span>
            <!-- Personal Info. -->
            MD: <a href="https://hackmd.io/{{ page.hackmd }}?view"  style="font-size: $small-font-size;">逐段点评</a>
        </span>
    {% endif %}
    
    <span style="float: right;" title="提交到时代透镜">
      <a style="color: #32407B; font-size: $small-font-size;" rel="nofollow" href="https://chinatimeline.github.io/form/?u={{ page.from | url_encode }}&t={{ page.title | url_encode }}&d={{ page.date | slice: 0, 10 }}&e={{ page.content | strip_html }}" target="_blank" class="ssk ssk-icon ssk-github"></a>
    </span>

    <span style="float: right;" title="提交到BE4新闻站">
      <a style="color: #5CBA66; font-size: $small-font-size;" rel="nofollow" href="https://be4news.pythonanywhere.com/submit?u={{ page.from | url_encode }}&t={{ page.title | url_encode }}" target="_blank">🐍</a>
    </span>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include copyright.html %}

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            前一篇：{{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            后一篇：{{ page.next.title }}
          </a>
      </span>
    {% endif %}

    <script>
    /* post pagination keyboard shortcuts */
    document.body.onkeyup = function(e){
      if (e.keyCode == '37') { window.location = '{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}'; } // left arrow key
      if (e.keyCode == '39') { window.location = '{{ site.url }}{{ site.baseurl }}{{ page.next.url }}'; } // right arrow key
    };
    </script>

  </div>


  {% include disqus.html %}
</article>
